.select-shadow
    width: 500px
    min-height 250px
    margin-top: 50px
    margin-bottom: 150px
    color: #ffffff
    font-size: 35px
    display: flex
    flex-direction: column
    position relative
    .select-input
        display: flex
        flex-direction: row
        border 1px solid #979797
        background-color: #ffffff
        .select-option
            display: flex
            align-items: center
            justify-content: center
            cursor pointer
            min-width: 55px
            user-select none
            font-size: 15px
            width: auto
            height 50px
            margin-left: 5px
            margin-right: 5px
            margin-bottom: 5px
            margin-top: 5px
            padding: 8px
            border-radius: 3px
            display: flex
            align-content: center
            align-items: center
            font-weight: 600
            background-color: green
            transition: background-color 0.3s;
        .select-option:hover
            background-color: #ff2b6f    
        input
            border none
            width: 100%
        input:focus
            border: none   
            outline: none  
            outline: 0px solid transparent;    
    .select-cont
        display: flex
        flex-direction: column
        .select-opitions
            box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8
            top: 67px
            position: absolute
            width: 100%
            background-color: #ffffff
            padding: 5px
            border-radius: 3px
            .list-obj  
                color: #283C46
                list-style none 
                background-color: #ffffff
                user-select none
                cursor pointer
                border-radius: 3px
                padding: 5px
                margin-bottom: 8px
            .list-select
                color: #ffffff !important
                background-color: #283C46 !important